---
development: &defaults
  db:
    adapter: "mysql2"
    host: "localhost"
    username: "root"
    password: ""
    db_name: "db_name_dev"
  default_video_name: "Default"
  admin:
    username: "admin"
    password: "admin"
  video:
    height: "264"
    width: "640"

test:
  <<: *defaults
  db:
    db_name: "db_name_test"

production:
  <<: *defaults
  db:
    db_name: "db_name_prod"
