%form{:action => @actionUrl, :method => "post"}
  %fieldset
    %table
      %tbody
        %tr
          %td
            %label{:for => "ip_from"} Ip from:
            %input{:type => "text", :name => "ip_from", :class => "text", :value => @ip[:ip_from]}
        %tr
          %td
            %label{:for => "ip_to"} Ip to:
            %input{:type => "text", :name => "ip_to", :class => "text", :value => @ip[:ip_to]}
        %tr
          %td
            %label{:for => "country"} Country:
            %input{:type => "text", :name => "country", :class => "text", :value => @ip[:country]}

    %input{:type => "submit", :value => "Send", :class => "button"}
