- content_for :scripts_and_styles do
  %link{ :href=>"http://vjs.zencdn.net/c/video-js.css", :rel => "stylesheet" }
  %script{ :src => "http://vjs.zencdn.net/c/video.js" }

- if @video
  %video{ :id => "video", :class => "video-js vjs-default-skin", :controls => "", :preload => "auto", :poster => "#{@base_url + @video.video_thumbnail}", :data => {:setup => "{}"}, :width => "640",:height => "264" }
    %source{ :src => "#{@base_url + @video.video_mp4}", :type=> 'video/mp4; codecs="avc1.4D401E, mp4a.40.2"'}
    %source{ :src => "#{@base_url + @video.video_ogg}", :type=> 'video/ogg; codecs="theora, vorbis"' }
    %source{ :src => "#{@base_url + @video.video_webm}", :type=> 'video/webm; codecs="vp8.0, vorbis"' }
