- content_for :scripts_and_styles do
  %link{ :href=>"http://vjs.zencdn.net/c/video-js.css", :rel => "stylesheet" }
  %script{ :src => "http://vjs.zencdn.net/c/video.js" }


%video{ :src => 'videos/file-332722753.ogg', :controls => "" }
%video{ :src => 'videos/21741682_mp4_h264_aac.mp4', :controls => "" }

%video{ :id => "video", :class => "video-js vjs-default-skin", :controls => "", :preload => "auto", :poster => "test.png", :data => {:setup => "{}"}, :width => "640",:height => "264" }
  %source{ :src => "videos/21741682_mp4_h264_aac.mp4", :type=> "video/mp4" }
